# Database (PostgreSQL - Prisma)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# App
NODE_ENV=
PORT=
FRONTEND_URL=

# JWT SECRET
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cookie
COOKIE_SECURE=false

# VNPay config
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=
VNPAY_RETURN_URL=

PUBLIC_BASE_URL=